<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.my_theatre.mapper.FilmMapper">

    <insert id="addfilm">
    insert into my_threate.movie_table( movie_name, leading_actor,movie_picture,
     movie_time, number_ticket, movie_country, movie_type, movie_year)
    VALUES(
           #{movieName},
           #{leadingActor},
           #{filePath},
           #{movieTime},
           #{movieTicket},
           #{movieCountry},
           #{movieType},
           #{movieYear}
          )

    </insert>
    <delete id="delFilm">
        delete  from my_threate.movie_table where movie_name=#{movieName}
    </delete>
    <select id="allFilm" resultType="com.example.my_theatre.entity.vo.FilmVo">
        select movie_name,leading_actor,movie_picture,movie_time,movie_country,movie_type,movie_year from my_threate.movie_table;
    </select>
    <select id="listWithFlavor" resultType="com.example.my_theatre.entity.vo.FilmVo">
        SELECT * FROM my_threate.movie_table ORDER BY number_ticket desc
        limit 0,8 ;

    </select>
    <select id="selectFilmsByPage" resultType="com.example.my_theatre.entity.vo.FilmVo" parameterType="map">
            SELECT * FROM my_threate.movie_table LIMIT #{start}, #{size}
    </select>
    <select id="selectBymovieName" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM my_threate.movie_table
            WHERE movie_name = #{movieName}
            LIMIT 1
        )
    </select>
</mapper>
