<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.my_theatre.mapper.ThreatMapper">
    <insert id="insertNewMovie">
        insert into my_threate.first_threat_table( playing_movie_id, start_time, end_time, movie_name, movie_picture)
        VALUES(
               #{movieId},
               #{startTime},
               #{endTime},
               #{movieName},
               #{moviePicture}
              )

    </insert>
    <update id="updatesealsit">
        UPDATE first_threat_table
        SET seal_sit = first_threat_table.seal_sit + 1
        WHERE playing_movie_id =#{playmovieId};
    </update>
    <delete id="deletemovieByid">
        delete from first_threat_table where playing_movie_id = #{id}
    </delete>


    <select id="selectall" resultType="com.example.my_theatre.entity.vo.ThreatVo">
        SELECT playing_movie_id, movie_picture,movie_name,start_time,end_time FROM my_threate.first_threat_table
    </select>
    <select id="isRightTime" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM first_threat_table
            WHERE first_threat_table.end_time > #{startTime}
            LIMIT 1
        )
    </select>
    <select id="selectBymovieId" resultType="com.example.my_theatre.entity.po.Threat">
        select * from first_threat_table where playing_movie_id = #{playmovieId}
    </select>
</mapper>
