<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.my_theatre.mapper.UserMapper">
    <insert id="register">
        INSERT INTO user_table(

           user_name, user_account, user_password, create_time, update_time, user_status, max_b_book, now_b_book
        )
            VALUES(

                      #{userName},
                      #{userAccount},
                      #{userPassword},

                      #{createTime},
                      #{updateTime},
                      #{userStatus},
                      #{maxBBook},
                      #{nowBBook}
                  )

    </insert>
    <update id="updatePasswordByemail">
     update user_table set user_password =#{password} where user_account = #{email}

    </update>
    <delete id="deleteUserByEmail">
        delete  from user_table where user_account = #{email}
    </delete>


    <select id="findUserByemail" resultType="com.example.my_theatre.entity.po.User">
        select * from my_threate.user_table where user_account= #{email}
    </select>

</mapper>
